<header>
  <h1 class="header-title">Portfólio Daniel Gregini Trovão</h1>
  

  <div class="nav">
    <div class="table">
      <div class="row">
        <ul class="select">
          <li><a routerLink="pagina-inicial">Início</a></li>
        </ul>
        <ul class="select">
          <li><a>História</a></li>
        </ul>
        <ul class="select">
          <li><a>Sobre mim</a></li>
        </ul>
        <ul class="select">
          <li><a>Contato</a></li>
        </ul>
      </div>
    </div>
  </div>
</header>

<hr>

<router-outlet></router-outlet>

<hr>

<footer>
  <div>
    <ul>
      <li><a>LinkedIn</a></li>
      <li><a>E-mail</a></li>
      <li><a>Instagram</a></li>
    </ul>
  </div>
</footer>


